{% extends "base.html" %}
{% block content %}
  <h1>Alta de Empleados</h1>

  <form method="POST">
    <input name="dni" placeholder="Texto completo del DNI" required>
    <input name="nombre" placeholder="Nombre" required>
    <button type="submit">Registrar</button>
  </form>

  <h2>Listado de Empleados</h2>
  <table>
    <tr><th>DNI completo</th><th>Nombre</th><th>Acción</th></tr>
    {% for e in empleados %}
      <tr>
        <td style="word-break:break-all;">{{ e.dni }}</td>
        <td>{{ e.nombre }}</td>
        <td>
          <form method="POST" action="{{ url_for('borrar_empleado',id=e.id) }}" onsubmit="return confirm('Seguro querés borrar a {{e.nombre}}?');">
            <button type="submit">Borrar</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}