{% extends "base.html" %}
{% block content %}
  <h1>Alta de Empleados</h1>

  <form method="POST">
    <!-- el campo DNI recibe la cadena entera -->
    <input name="dni" placeholder="DNI completo" required>
    <input name="nombre" placeholder="Nombre" required>
    <button>Registrar</button>
  </form>

  <h2>Listado de Empleados</h2>
  <table>
    <tr><th>DNI completo</th><th>Nombre</th></tr>
    {% for e in empleados %}
      <tr>
        <!-- mostramos toda la cadena DNI -->
        <td>{{ e.dni }}</td>
        <td>{{ e.nombre }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
